version: "3.9"

name: novibet-wallet

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: novibet-wallet-sqlserver
    hostname: novibet-wallet-sqlserver
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "sqlcmd -S localhost -U sa -P YourStrong!Passw0rd -Q 'SELECT 1'"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
